body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cyan
}

.calculator-container {
    display: flex;
    flex: 0 0 auto;
    box-sizing: content-box;
    width: 600px;
    height: 1000px;
    border-radius: 30px;
    background-color: black;
    border: 30px solid black;
    flex-direction: column;
}

.screen {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    border-radius: 30px;
    box-sizing: border-box;
    border-bottom: 3px solid black;
    background-color: beige;
    width: 600px;
    height: 250px;
}

.empty-space {
    display: flex;
    flex: 4;
}

.print {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    padding: 10px;
    font-size: 40px;
    font-family: sans-serif;
    color: darkblue;
}

.touchpad {
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 750px;
    flex: 0 0 auto;
    flex-wrap: wrap;
}

.grid {
    display: flex;
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    justify-content: center;
    align-items: center;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    color: darkblue;
    font-size: 40px;
}